<nav>
  <img src="../../../assets/LogoPagina.png" alt="logo página" class="nav-logo">
  <div class="nav-links">
    <a routerLink="/" class="nav-link nav-link-home" [routerLinkActive]="['nav-link-active']">Home</a>
    <a routerLink="/avengers" class="nav-link" [routerLinkActive]="['nav-link-active']">Listado Personajes</a>
    <a routerLink="/addavenger" class="nav-link" [routerLinkActive]="['nav-link-active']">Agregar Nuevo Vengador</a>
    <a routerLink="/contact" class="nav-link" [routerLinkActive]="['nav-link-active']">Contacto</a>
  </div>
</nav>