<footer>
    <div class="footer-container">
      <div class="social-links">
        <a href="https://www.facebook.com/Marvel" target="_blank">
          <img src="../../../assets/Facebook_Logo.png" alt="Facebook" class="social-logo">
        </a>
        <a href="https://www.instagram.com/marvel" target="_blank">
          <img src="../../../assets/instagram-logo.png" alt="Instagram" class="social-logo">
        </a>
      </div>
      <p class="quote">"Genius, billionaire, playboy, philanthropist." - Tony Stark</p>
      <p class="legal">© Todos los derechos reservados. Propiedad de Disney Studios y Marvel</p>
    </div>
  </footer>
  