<div class="home-container">
  <h1 class="title">Bienvenido al mundo de los Vengadores</h1>
  <div class="description">
    <p>En un universo lleno de peligros y amenazas, los Vengadores son los héroes más poderosos y valientes que se han unido para proteger al mundo. Juntos, luchan contra villanos, defienden la justicia y mantienen la paz.</p>
    <p>Únete a nosotros y descubre las increíbles historias de estos legendarios héroes mientras se enfrentan a desafíos inimaginables y protegen la humanidad de las fuerzas del mal.</p>
    <p>¡Conoce a personajes icónicos como Iron Man, Capitán América, Thor, Hulk, Viuda Negra y muchos más!</p>
  </div>
<button class="explore-button" routerLink="/avengers">Explora los Personajes</button></div>