<div class="background">
    <div class="contact-container">
        <div class="contact-info">
        <div class="contact-image">
            <img src="../../../assets/foto-contacto.jpg" alt="Imagen de perfil">
        </div>
        <div class="contact-details">
            <h4 class="contact-name">Iosu Gómez Valdecantos</h4>
            <p class="contact-description">Full Stack Developer - Amante de la tecnología</p>
            <p class="contact-email">Email: iosugvaldecantos@gmail.com</p>
            <a href="mailto:iosugvaldecantos@gmail.com" class="contact-email-link">Enviar Email</a>
        </div>
        </div>
        <div class="contact-links">
            <a href="https://www.linkedin.com/in/iosu-gomez-biologo-analista/" target="_blank" class="contact-linkedin">
            <img src="../../../assets/linkedin.png" alt="Logo de LinkedIn"> 
            </a>
            <a href="https://www.linkedin.com/in/iosu-gomez-biologo-analista/" target="_blank" class="contact-github">
            <img src="../../../assets/github.png" alt="Logo de GitHub">
            </a>
      </div>
  </div>
</div>
